<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="from-event">fromEvent</a>
            </li>
            <li>
                <a routerLink="interval">Interval</a>
            </li>
            <li>
                <a routerLink="of-from">Of and From</a>
            </li>
            <li>
                <a routerLink="to-array">toArray</a>
            </li>
            <li>
                <a routerLink="custom">Custom</a> 
            </li>
            <li>
                <a routerLink="map">Map</a> 
            </li>
            <li>
                <a routerLink="pluck">Pluck</a> 
            </li>
            <li>
                <a routerLink="filter">Filter</a> 
            </li>
            <li>
                <a routerLink="tap-operator">Tap Operator</a> 
            </li>
            <li>
                <a routerLink="take-operator">Take, TakeLast and TakeUntil</a> 
            </li>
            <li>
                <a routerLink="retry-operator">Retry, RetryWhen Scan and Delay</a> 
            </li>
            <li>
                <a routerLink="debounce-time">DebounceTime and DistinctUntilChanged</a> 
            </li>
            <li>
                <a routerLink="subject">Subject and Behavior Subject</a> 
            </li>
            <li>
                <a routerLink="replay-subject">Replay Subject</a> 
            </li>
            <li>
                <a routerLink="async-subject">Async Subject</a> 
            </li>
        </ul>
    </div>
</div>