<div class="my-3">
    <h2>Of and From</h2>
    <br>


    <div class="row">
        <div class="col-md-6">
            <strong>Ex - 1 (of)</strong>
            <br>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>of('Anup', 'Shekar', 'Sharma')
            </p>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>of(&#123;a: 'Anup', b: 'Shekar', c: 'Sharma'&#125;);
            </p>
            <ul >
                <li><strong>a : </strong> {{obsMsg.a}}</li>
                <li><strong>b : </strong>{{obsMsg.b}}</li>
                <li><strong>c : </strong>{{obsMsg.c}}</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <strong>Ex - 2 (From)</strong>
            <br>
        </div>
        <!-- <div class="col-md-6">
            <strong>Ex - 2 (of)</strong>
            <br>
        </div> -->
    </div>
    <hr>


    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>from(['Uxtrendz', 'Jhon', 'Alex'])
            </p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>

        <div class="col-md-4">
            <strong>Promis</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>Promise to Observable
            </p>
            <hr>
            <ul id="elContainer4"></ul>
        </div>

        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data: </strong>String to Observable
            </p>
            <hr>
            <ul id="elContainer5"></ul>
        </div>
    </div>
</div>