<div class="my-3">
    <h2>ConcatMap2</h2>
    <br>

    <div class="iphone-x">
        <i>Speaker</i>
        <b>Camera</b>
        <s>10:24</s>

        <span>Left action button</span>
        <span>Right action button</span>
    </div>
    <div class="iphone-x">
        <i>Speaker</i>
        <b>Camera</b>
        <s>10:24</s>

        <span>Left action button</span>
        <span>Right action button</span>
    </div>
    <div class="notification" id="elContainer">
        <!-- <div class="item">
            <div class="header">
                <div class="app">
                    <img src="../../../assets/whatsapp-icon.png" width="20">Whatsap
                </div>
                <div class="time">4 Second Ago.</div>
            </div>
            <div class="body1">
                <img width="50" height="50"
                    src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg    "
                    class="item-img">
                <strong>Alex Johnson</strong>
                <p>Commented on your #Uxtrendz Post: Awesom Post !!!! thaks..</p>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <div class="app">
                    <img src="../../../assets/img.icons8.png" width="20">Facebook
                </div>
                <div class="time">4 Second Ago.</div>
            </div>
            <div class="body1">
                <img width="50" height="50"
                    src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg    "
                    class="item-img">
                <strong>Albert Johnson</strong>
                <p>Commented on your #Uxtrendz Post: Awesom Post !!!! thaks..</p>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <div class="app">
                    <img src="../../../assets/whatsapp-icon.png" width="20">Whatsap
                </div>
                <div class="time">3 Second Ago.</div>
            </div>
            <div class="body1">
                <img width="50" height="50"
                    src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg    "
                    class="item-img">
                <strong>Jack Johnson</strong>
                <p>Commented on your #Uxtrendz Post: Awesom Post !!!! thaks..</p>
            </div>
        </div>
        <div class="item">
            <div class="header">
                <div class="app">
                    <img src="../../../assets/img.icons8.png" width="20">Facebook
                </div>
                <div class="time">1 Second Ago.</div>
            </div>
            <div class="body1">
                <img width="50" height="50"
                    src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg    "
                    class="item-img">
                <strong>Nick Johnson</strong>
                <p>Commented on your #Uxtrendz Post: Awesom Post !!!! thaks..</p>
            </div>
        </div> -->
    </div>
</div>
<!-- </div> -->